* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    color: #333;
    background-color: linen;
    border: 19px solid salmon;
}

.section {
    padding: 30px 10%;
}

.header {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
}

.header strong {
    font-weight: 800;
    text-transform: uppercase;
}

.header span {
    display: block;
    font-weight: 100;
    display: block;
}

.main {
    margin-top: 80px;
    text-align: center;
}

.form p {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.form {
    border: 5px solid blue;
}

.video,
.form {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.form {
    padding: 20px;
    margin-left: 30px;
    height: 315px;
}

.form input {
    display: block;
    width: 300px;
    padding: 17px;
    font-size: 18px;
    border: 1px solid #333;
    margin-top: 10px;
}

.btn {
    font-size: 18px;
    font-weight: 900;
    border-radius: 7px;
    background-color: blue;
    color: #fff;
    border: none;
    width: 220px;
    height: 55px;
    display: block;
    margin: 15px auto;
}

.feature {
    /* display: inline-block; */
    /* vertical-align: top; */
    text-align: center;
    margin: 60px auto;
}

.feature-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
}

.col {
    display: inline-block;
    text-align: center;
    margin: 10px 50px;
    /* width: 150px; */
}